spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/evaluation_service
    username: evaluation_user
    password: ${DB_PASSWORD:password}
    driver-class-name: org.postgresql.Driver
  data:
    redis:
      host: redis
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://eureka:8761/eureka/

management:
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans
